<%- include("partials/app-header") -%>

<div class="admin-details">

    <p>First Name: <%= admin.fname %></p>
    <p>Last Name: <%= admin.lname %></p>
    <p>Email: <%= admin.email %></p>
    <p>Joining Date: <%= admin.joiningDate %></p>
    <p>Status: <%= admin.status %></p>
</div>

<%- include("partials/app-footer") -%>